2018 Robot/build
2018 Robot/dist
AnimationController/bin
AnimationTest/bin
LightsClient/data/*.ogg
*.class
2018 Robot/src/org/usfirst/frc/team4999/lights/*
2018 Robot/src/org/usfirst/frc/team4999/pid/*
2018 Robot/build.properties